<p>
  <a [routerLink]="['/inicio']" routerLinkActive="active">inicio</a>&nbsp;|&nbsp;
  <a [routerLink]="['/demos']" routerLinkActive="active">demos</a>&nbsp;|&nbsp;
  <a [routerLink]="['/chisme/de/hacer/numeros']" routerLinkActive="active">calculadora</a>&nbsp;|&nbsp;
  <a [routerLink]="['/personas']" routerLinkActive="active">personas</a>&nbsp;|&nbsp;
  <a [routerLink]="['/pepito/grillo']" routerLinkActive="active">pepito</a>&nbsp;|&nbsp;
  <a [routerLink]="['/falsa']" routerLinkActive="active">falsa</a>&nbsp;|&nbsp;
  <a href="/demos">demos</a>&nbsp;|&nbsp;

</p>
